<!DOCTYPE html>
<html>
    <head>

        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>

        <link rel="icon" href="{% static "imagenes/logoMenu.png" %}"/>

        <script type="text/javascript" src="{% static "js/funciones.js" %}"></script>

        <script src="{% static "alertify/alertify.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "alertify/css/alertify.min.css" %}" />
        <link rel="stylesheet" href="{% static "alertify/css/themes/default.min.css" %}" />

    </head>
    <body>

        <main>
            
                <form action="/login" method="post">

                  {% csrf_token %}

                  <section class="vh-100" style="background-color: #eee;">
                    <div class="container py-5 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                          <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                  
                              <img src="{% static "imagenes/logo.png"%}" alt="No Encontrada"/>

                              <h3 class="mt-3">Ingrese sus Credenciales</h3>
                  
                              <div class="form-outline mb-4">
                                <input type="text"       class="form-control   form-control-lg   text-center   mt-3"   placeholder="Rut de Usuario"   name="txtrut"   required/>
                              </div>
                  
                              <div class="form-outline mb-4">
                                <input type="password"   class="form-control   form-control-lg   text-center"   placeholder="Contraseña"       name="txtpas"   required/>
                              </div>
                  
                              <button class="btn btn-danger btn-lg btn-block" type="submit">Login</button>
                  
                              <hr class="my-4">
                              
                              <p class="mt-3 text-body-secondary">&copy; Plataforma Administrativa</p>

                              {% if r2 %}
                                <script>
                                    mensajeAlertifyUsu("{{r2}}","error");
                                </script>
                              {% endif %}

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                </form>

            </main>

            
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    </body>
</html>