<!DOCTYPE html>
<html>
    <head>

        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menú</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>

        <link rel="icon" href="{% static "imagenes/logo.png" %}"/>
        <link rel="icon" href="{% static "imagenes/logoMenu.png" %}"/>

        <link rel="stylesheet" href="{% static "css/estilos.css" %}">
        <script type="text/javascript" src="{% static "js/funciones.js" %}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        
        <script src="{% static "alertify/alertify.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "alertify/css/alertify.min.css" %}" />
        <link rel="stylesheet" href="{% static "alertify/css/themes/default.min.css" %}" />

    </head>
    <body style="background-color: #eee;">
        
        <header id="main-header">
        <nav class="navbar navbar-expand-lg bg-danger">
            <div class="container-fluid">
                
                <a href="/menu_organizador">
                    <img src="{% static "imagenes/logoMenu.png"%}" alt="No Encontrada"/>
                </a>

                <a class="navbar-brand text-white" href="/menu_organizador">
                  &nbsp; {{ nomUsuario }} {{ apeUsuario }} ({{ nomTipo }})
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link  subrayado  text-center" href="/gestionar_recepcion_org">Ver Titulados Asistentes</a>
                        <a class="nav-link  subrayado  text-center" href="#" onClick="botonCerrarSesion()">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
        </header>

        <main>
        {% if r2 %}
            <script>
                mensajeAlertifyUsu("{{r2}}","error");
            </script>
        {% endif %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </body>
</html>